<body>
<form id='create_game'>
    <input type='text' size ='50' id='name_field'></input>
    <input type='submit'></input>
</form>
<button id='render'>Render</button>
<div id='games'></div>
<script src="/js/localScripts/homepage.js"></script>
</body>
